#profile-scanning-box {
    display: none;
}

.small-follow-card {
    margin: -11px !important;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
}

#blog_settings_loading {
    display: none;
}