# Save the file as secrets.py in the same directory

github_access_token = ""
social_auth_github_secret = ""
social_auth_github_secret = ""

# For pocket integration
pocket_consumer_key = "***REMOVED***"

# For syncing votes from reddit
reddit_consumer_key = ""
reddit_consumer_secret = ""
reddit_username = ""
reddit_password = "5RHqQC#K"
