{{#unless is_me}}
   {{#if following }}
    <button data-user-id="{{ id }}" class="following border py-1 px-2 rounded ml-auto text-white bg-gray-900 hover:bg-gray-800">
        Following
    </button>
    {{else}}
    <button data-user-id="{{ id }}" class="follow border py-1 px-2 rounded ml-auto border-gray-400 hover:border-gray-500">
        Follow
    </button>
    {{/if}}
{{/unless}}
