<div class="flex mb-4 items-center">
    <div class="ml-2">
        <a class="text-gray-900 font-bold text-base" href="/">
            {{ display_name}}
        </a>
    </div>
    {{> topic-follow-button}}
</div>
