#profile-scanning-box {
    display: none;
}

.small-follow-card {
    margin-left: 2px !important;
}

body {
    background-color: #fafafa;
    min-height: 100vh;
}

#blog_settings_loading {
    display: none;
}

.post-content {
    margin-top: -15px;
}

#user_suggestions_box {
    display: none;
}

.see-more-rusers {
    margin-top: -15px;
    color: #7a7a7a !important;
}

.brand-title {
    font-family: monospace;
}

#post-summary {
}
