{% extends "emails/compiled/base.html" %}

{% block title %}
<title>
    diff.blog weekly digest.
</title>
{% endblock %}

{% block content %}

<h1>
    diff.blog weekly digest
</h1>

{% if following_posts %}
<h3>
    Popular posts from users you follow 📰
</h3>
<table>
    {% for post in following_posts %}
    {% include "emails/compiled/digest_post.html" %}
    {% endfor %}
    <tr>
        <td>
            <a class="see-all-posts" href="https://diff.blog/following">Read More »</a>
        </td>
    </tr>
</table>
{% endif %}


{% if global_posts %}
<h3>
    Popular in diff.blog last week 🎉
</h3>
<table>
    {% for post in global_posts %}
    {% include "emails/compiled/digest_post.html" %}
    {% endfor %}
</table>
{% endif %}

{% if job_postings %}
<h3>
    <a class="who-is-hiring" href="https://diff.blog/jobs">
    Who is hiring? 👩‍💻
    </a>
</h3>
<table>
{% for job in job_postings %}
{% include "emails/compiled/digest_job.html" %}
{% endfor %}
</table>
<div></div>
<a class="see-all-posts" href="https://diff.blog/jobs/new">Hiring? Post a job.</a>
{% endif %}
{% endblock %}
