{% extends "emails/compiled/base.html" %}

{% block title %}
<title>
    diff.blog weekly digest.
</title>
{% endblock %}

{% block content %}

<h1>
    diff.blog weekly digest
</h1>

{% if following_posts %}
<h3>
    From users you follow 📰
</h3>
<table>
    {% for post in following_posts %}
    {% include "emails/compiled/digest_post.html" %}
    {% endfor %}
</table>
{% endif %}


{% if global_posts %}
<h3>
    Popular in diff.blog last week 🎉
</h3>
<table>
    {% for post in global_posts %}
    {% include "emails/compiled/digest_post.html" %}
    {% endfor %}
</table>
{% endif %}

{% endblock %}