<!DOCTYPE html>
<html>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-139957969-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>diff.blog</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <style>
      .box {box-shadow: 0 0.5em 1.5em 0 rgba(0,0,0,.1);}
    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    {% csrf_token %}
    <script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var logged_in = {{user.is_authenticated|yesno:"true,false"}};
    var is_admin = {{user.profile.is_admin|yesno:"true,false"}};
    </script>
  </head>
  <body>

  <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          <h2>diff.blog()</h2>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end" style="background-color: #0a0a0a;">
        <a class="navbar-item">
          <form method="GET" action="/search">
            <input name="q" class="input" type="text" placeholder="Search diff.blog" autocomplete="off" pattern=".{3,}" required title="3 characters minimum">
          </form>
        </a>
          {% if user.is_authenticated %}
            <nav class="navbar is-black" role="navigation" aria-label="dropdown navigation">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                      <img src="https://avatars.githubusercontent.com/{{user.profile.github_username}}">
                  </a>
                  <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="/{{ user.profile.github_username }}">
                      Profile
                    </a>
                    <a class="navbar-item" href="/account/settings/profile/">
                      Settings
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/logout">
                      Logout
                    </a>
                  </div>
                </div>
              </nav>
            {% endif %}
    </div>
  </div>
  </nav>
  <br>
  {% block content %}
  {% endblock %}
  </body>
  <div class="modal" id="signup-prompt-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <div class="content">
          <div class="title is-4">
            Join diff.blog to
          </div>
          <ul>
            <li><i class="em em-newspaper"></i> &nbsp Follow blogs</li>
            <li><i class="em em-speech_balloon"></i> &nbsp Join discussions</li>
            <li><i class="em em-mailbox_with_mail"></i> &nbsp Save posts to Pocket</li>
            <li><i class="em em-gift"></i> &nbsp See blog recommendations</li>
            <li><i class="em em-hammer"></i> &nbsp Add your blog</li>
            <li><i class="em em-rocket"></i> &nbsp Automatically subscribe to blogs of users you follow on GitHub</li>
          </ul>
          <a href="{% url "social:begin" "github" %}" class="button is-light" herf="">
              Sign in with GitHub &nbsp<i class="fab fa-github"></i>
            </a>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <script src="/static/js/base.js"></script>
</html>
