<!DOCTYPE html>
<html>
    <!-- Google Analytics -->
    <script>
      var ga_client_id;
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-139957969-1', 'auto');
      ga(function(tracker) {
        ga_client_id = tracker.get('clientId');
      });

      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block seo_tags %}
    <title>diff.blog | Discover and follow amazing developer blogs</title>
    {% endblock %}
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/dist/base-min.css">
    <link rel="stylesheet" href="/static/css/base.css">

    <style>
      .box {
        box-shadow: 0 0.5em 1.5em 0 rgba(0,0,0,.1);
      }
      .card {
        box-shadow: 0 0.5em 1.5em 0 rgba(0,0,0,.1);
        border-radius: 6px;
      }
      .icon {
        transition: all .2s ease-in-out 0s;
      }

      .icon :hover {
        transform: scale(1.1, 1.1)
      }

      a {
        color: #363636;\
      }


    </style>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% csrf_token %}
    <script type="text/javascript">
    // using jQuery
    var csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    var logged_in = {{request.user.is_authenticated|yesno:"true,false"}};
    var is_admin = {{request.user.profile.is_admin|yesno:"true,false"}};
    {% if request.user.is_authenticated %}
    var pocket_show_button = {{request.user.profile.pocket_show_button|yesno:"true,false"}};
    {% else %}
    var pocket_show_button = "true";
    {% endif %}
    </script>
  </head>
  <body>


  <nav class="navbar is-fixed-top border" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          <h2 class="text-2xl font-semibold text-gray-900">diff.blog</h2>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

     
        <a class="navbar-item" href="/jobs">
          Jobs
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/suggest">
              Suggest a blog
            </a>
            <hr class="navbar-divider">

            <a class="navbar-item" href="/plugin">
          Upvotes plugin
          </a>

          
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/diffblog/diff.blog">
              GitHub repo
            </a>

            <a class="navbar-item" href="mailto:yo@vishnuks.com">
              Contact
            </a>
            <a class="navbar-item" href="/FAQ">
              About
            </a>
       
          </div>
        </div>
      </div>

      <div class="navbar-end ">
        <a class="navbar-item" style="background-color: white;">
          <form method="GET" action="/search">
            <input class="py-1 px-2 bg-gray-100 border border-gray-400 rounded w-full placeholder-gray-500  focus:outline-none focus:bg-white focus:text-gray-900" name="s" class="input" type="text" placeholder="Search" autocomplete="off" pattern=".{3,}" required title="3 characters minimum" value="{{ search_query }}">
            <input type="hidden" name="type" value="users">
          </form>
        </a>
          {% if request.user.is_authenticated %}
            <nav class="navbar" role="navigation" aria-label="dropdown navigation">
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                      <img class="rounded" src="https://avatars.githubusercontent.com/{{request.user.profile.github_username}}?s=64">
                  </a>
                  <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="/{{ request.user.profile.github_username }}">
                      Profile
                    </a>
                    <a class="navbar-item" href="/account/settings/profile/">
                      Settings
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/logout">
                      Logout
                    </a>
                  </div>
                </div>
              </nav>
            {% else %}
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button" href="{% url "social:begin" "github" %}">
                    Sign up &nbsp <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
          </div>
            {% endif %}
    </div>
  </div>
  </nav>

  <br>
  {% block content %}
  {% endblock %}
  </body>
  <div class="modal" id="signup-prompt-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <div class="content">
          <div class="flex justify-center">
            <div class="title is-4" id="join-message"></div>
          </div>
          <div class="flex justify-center">
            <div class="content-center text-gray-600 mt-4" style="text-align: center;">
              👩‍💻 Join our community of thousands of amazing developers!
            </div>
          </div>
         <div class="flex justify-center">
          <a href="{% url "social:begin" "github" %}" class="border py-2 px-3 rounded border-gray-400 hover:border-gray-500 mt-5" herf="">
            Login with GitHub &nbsp<i class="fab fa-github"></i>
          </a>
         </div>

    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <script src="/static/dist/base.bundle.js" defer></script>
</html>
