<!DOCTYPE html>
<html>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-139957969-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diff.blog()</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.0/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    {% csrf_token %}
    <script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var logged_in = {{user.is_authenticated|yesno:"true,false"}};
    var is_admin = {{user.profile.is_admin|yesno:"true,false"}};
    </script>
  </head>
  <body>

  <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
          <h2>Diff.blog()</h2>
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        <form method="GET" action="/search">
          <input name="q" class="input" type="text" placeholder="Search diff.blog" autocomplete="off" pattern=".{3,}" required title="3 characters minimum">
        </form>
      </a>
      <div class="navbar-brand">
        <div class="navbar-item">
          <div class="buttons">
          {% if user.is_authenticated %}
            <div id="navbar-dropdown" class="dropdown is-right">
                <div class="dropdown-trigger">
                  <span class="button is-black" aria-haspopup="true" aria-controls="dropdown-menu">
                    <img src="https://avatars.githubusercontent.com/{{user.profile.github_username}}">
                    <span class="icon is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </span>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="/user/{{ user.profile.github_username }}" class="dropdown-item">
                     Profile
                    </a>
                    <a href="/account/settings/profile/" class="dropdown-item">
                      Settings
                    </a>
                    <hr class="navbar-divider">
                    <a href="/logout" class="dropdown-item">
                      Logout
                    </a>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <br>
  {% block content %}
  {% endblock %}
  </body>
  <div class="modal" id="signup-prompt-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="card" style="min-height: 200px;">
        <div class="card-content">
          <div class="title is-3">
            Join diff.blog
          </div>
          <p class="subtitle is-6">
            Sign in with your GitHub account to join diff.blog
            <br>
            <br>
            <a href="{% url "social:begin" "github" %}" class="button is-light is-medium" herf="">
              Sign in with GitHub &nbsp; <i class="fab fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <script src="/static/js/base.js"></script>
</html>
