{% extends "search_base.html" %}

{% block seo_tags %}
    <title>Top companies that use {{ topic.display }}</title>
    <meta name="description" content="List of companies that use {{ topic.display }} in production.">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
          <div class="column is-6">
            {% if topic.display_name %}
            <h1 id="topic-info-header" class="text-2xl mb-4 text-gray-900">Top <span id="company-count"></span> companies that use {{ topic.display_name }}</h2>
            {% endif %}
            <div id="user_list"></div>
          </div>
        </div>
    </div>
    <div id="data" data-topic="{{ topic.slug }}"></div>
  </section>

{% block footer %}
<script src="/static/dist/companies.bundle.js"></script>
<script src="/static/dist/follow.bundle.js"></script>
{% endblock %}

{% endblock %}
