{% extends "search_base.html" %}

{% block content2 %}
<div class="content my-4">
    <h2 class="text-xl font-medium">
        What is diff.blog?
    </h2>
    <p>
        diff.blog is a platform that helps you discover and follow amazing developer blogs. Whether your interests are in Python,
        Rust, AI, Distributed Systems or XYZ diff.blog has got amazing blogs for you to follow!
    </p>
    <h2 class="text-xl font-medium my-4">
        How is it different from Medium?
    </h2>
    <p>
        diff.blog unlike Medium does not host any blogs. diff.blog merely acts as a platform that makes it easier to
        discover and subscribe to blogs. So you own your own blog and content. You can host your blog in a Wordpress site,
        GitHub pages, Ghost, or wherever you want. This means even if diff.blog shut downs one day it won't affect your blog at all.
    </p>
    <h2 class="text-xl font-medium my-4">
        Why build diff.blog?
    </h2>
    <p>
        There are a lot of amazing developer blogs in the Internet. But very few of them gets visibility. Because of this visibility issue
        a lot of the developers blogs are shutting down or is moving to Medium in search of views. I don't think a walled garden like Medium
        is the solution to this problem. Developers should be able to own their blog without having to compromise on the views. Blogs are probably
        the last remaining bits of Internet, a network that was supposed to be decentralized and not owned by a few companies. diff.blog's
        mission is to bring the audience back to the blogs and make blogs popular again.
    </p>
    <h2 class="text-xl font-medium my-4">
        Sounds great. How does this work?
    </h2>
    <p>
        The underlying engine of diff.blog is similar to an RSS reader. All most all the blogs have RSS feed. RSS feeds makes it
        really easy to keep updated with the posts of a blog. No blockchain. Nothing fancy. It's just a file. You can read more about
        RSS feeds at <a href="https://www.youneedfeeds.com/">https://www.youneedfeeds.com/</a>.
    </p>
    <h2 class="text-xl font-medium my-4">
        Okay. So this is basically a RSS reader?
    </h2>
    <p>
        Kind of but not really. diff.blog is to RSS reader is how Slack/Zulip is to IRC. If RSS readers were doing its job properly
        there would not have been a Medium.com <i class="em em-upside_down_face"></i> diff.blog has a lot of features that are not present in a normal RSS reader that should give you
        better experience.
        Some of them are.
        <ul>
            <li>
                <b class="font-medium">Blog recommendations</b> - diff.blog can recommend you blogs to follow depending upon your interests.
                If you are interested in Rust for example diff.blog will suggest you awesome developers that blogs about
                Rust. When you sign up with your GitHub account diff.blog analyzes your profile to get a
                sense of what kind of programming Languages you are interested in. Plus it also ask you to choose
                what kind of Topics you are interested in during signup.
            </li>
            <li>
                <b class="font-medium">Auto follow</b> - diff.blog automatically make you follow the blogs of developers and organizations you follow on GitHub.
                If you don't like some of them you can later unsubscribe them as well. This results in surfacing of interesting
                blog posts.
            </li>
            <li>
                Normal RSS readers knows only about blogs you follow. This might lead you to miss out on a lot of amazing
                content. diff.blog has a top feed that contains the popular blog posts from all over diff.blog.
            </li>
            <li>
                <b class="font-medium">Likes and comments</b> - You can like blog posts and comment on them. The likes and comments are visible to
                other users of diff.blog.
            </li>
        </ul>
    </p>
    <h2 class="text-xl font-medium my-4">
        How do I add my blog?
    </h2>
    <p>
        You can add your blog by going to <a href="account/settings/blog/">settings</a> page after signup.
    </p>
    <h2 class="text-xl font-medium my-4">
        How do I add tags to my tags to my posts?
    </h2>
    <p>
        diff.blog reads posts' tags from RSS feeds. It supports both RSS and Atom, so you'll need to specify tags in your
        format correctly.
        <ul>
            <li>
                For Atom 1.0, you need to add <code>&lt;category term="tag" /&gt;</code> to your posts. See
                <a href="https://datatracker.ietf.org/doc/html/rfc4287#section-4.2.2">RFC 4287 Section 4.2.2</a> for details.
            </li>
            <li>
                For RSS 2.0, you need to add <code>&lt;category&gt;tag&lt;/category&gt;</code> to your posts. See
                <a href="https://www.rssboard.org/rss-specification#ltcategorygtSubelementOfLtitemgt">RSS 2.0 Specification</a> for details.
            </li>
        </ul>
    </p>
    <h2 class="text-xl font-medium my-4">
        What if a blog I want to follow is not there in diff.blog?
    </h2>
    <p>
        You can suggest the blog <a href="/suggest">here</a> and we would manually add it as long as the blog has as RSS
        feed and the user/organization that runs the blog has an account on GitHub. Currently most of the featured blogs in diff.blog
        are added like that.
    </p>
    <h2 class="text-xl font-medium my-4">
        Okay. How much I have to pay to use this?
    </h2>
    <p>
        diff.blog is completely free to use. diff.blog is run on a $10 Digital Ocean droplet. The droplet along with the domain name and Amazon SES
        for the weekly newsletter are my only expenses so far which fortunately I can easily afford. I have some plans to build a job board
        and asking for companies to pay for posting jobs there. But not much significant work has been done for that yet.
     </p>
    <h2 class="text-xl font-medium my-4">
        Is this open source?
    </h2>
    <p>
        diff.blog is not open source yet. The main reason I have not open sourced it yet is that it's not in a great state currently
        for a new contributor to contribute. If diff.blog gets some traction and lot of people are interested, I would be making it
        friendly to contribute and opensource it.
    </p>
</div>
{% endblock %}
