<i class="em em-rolled_up_newspaper"></i> &nbsp Follow blogs<br>
<i class="em em-speech_balloon"></i> &nbsp Join discussions<br>
<i class="em em-mailbox_with_mail"></i> &nbsp Save posts to Pocket<br>
<i class="em em-gift"></i> &nbsp See blog recommendations<br>
<i class="em em-heavy_plus_sign"></i> &nbsp Include your blog<br>
<i class="em em-rocket"></i> &nbsp Automatically subscribe to blogs of users you follow on GitHub<br><br>
<a href="{% url "social:begin" "github" %}" class="button is-light" herf="">
  Join with GitHub &nbsp<i class="fab fa-github"></i>
</a>
