{% extends "base.html" %}

{% block seo_tags %}
{% if landing_page %}
<title>diff.blog - Home</title>
<meta name="description"
  content="diff.blog is the home page of the developer community. Join diff.blog to keep updated with the blogs of developers from all over the internet.">
{% elif feed_type == "top" %}
<title>Top {{ topic_display_name }} blog posts - diff.blog</title>
<meta name="description" content="Popular {{ topic_display_name }} blog posts in diff.blog.">
{% elif feed_type == "following" %}
<title>New {{ topic_display_name }} blog posts - diff.blog</title>
<meta name="description" content="Latest {{ topic_display_name }} blog posts from users you follow.">
{% elif feed_type == "new" %}
<title>New {{ topic_display_name }} blog posts | diff.blog</title>
<meta name="description" content="Popular {{ topic_display_name }} blog posts in diff.blog.">
{% else %}
<title>Top {{ topic_display_name }} blog posts | diff.blog</title>
<meta name="description"
  content="diff.blog is the home page of the developer community. Join diff.blog to keep updated with the blogs of developers from all over the internet.">
{% endif %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        {%if request.user.is_authenticated %}
        <div class="text-gray-900 border-b text-sm font-semibold mb-4 w-f">
          YOUR TOPICS
        </div>
        <div id="my-topics"></div>
        {% else %}
        <div class="text-gray-900 border-b text-sm font-semibold mb-4 w-f">
          POPULAR TOPICS
        </div>
        <div id="popular-topics"></div>
        {% endif %}

      </div>

      <div class="column is-1 w-1">
        <div class="h-full border-r text-gray-600"></div>
      </div>

      <div class="column is-5">
        <div id="home_feed"></div>
      </div>

      <div class="column is-1 w-1">
        <div class="h-full border-r text-gray-600"></div>
      </div>

      <div class="column is-3">
        <div id="like_button_container"></div>

        {% if topic_display_name %}
        <div class="mb-6">
          <h1 class="text-3xl text-gray-900 font-semibold mb-2">
            {{ topic_display_name }}
          </h1>
          <div id="topic-follow-button-holder" data-topic-id="{{ topic_id }}">
          </div>
        </div>
        {% endif %}

        <div id="user_recommendations_section" class="mb-10 hidden">
          <div class="text-gray-900 border-b text-sm font-semibold mb-4 w-f">
              DEVELOPERS TO FOLLOW
          </div>
          <div id="right_sidebar_recommended_developers_follow_list"></div>
          {% if slug %}
          <a href="/tag/{{ slug }}/users/" class="text-gray-800 text-sm mt-5">
            See more
          </a>
          {% else %}
          <a href="/users/recommended/" class="text-gray-800 text-sm mt-5">
            See more
          </a>
          {% endif %}
          </a>
        </div>

        <div id="following_posts_section" class="mb-10 hidden">
          <div class="text-gray-900 text-sm font-semibold mb-4 mt-4 border-b">
            FROM USERS YOU FOLLOW
          </div>
          </a>
          <div id="following_posts"></div>
          {% if slug %}
          <a href="/tag/{{ slug }}/following/" class="text-gray-800 text-sm mt-5">
            See more
          </a>
          {% else %}
          <a href="/following/" class="text-gray-800 text-sm mt-5">
            See more
          </a>
          {% endif %}
        </div>

        {% if not slug %}
        <div id="recent_posts_section" class="mb-10 hidden">
          <a href="/new/">
            <div class="text-gray-900 text-sm font-semibold mb-4 mt-4 border-b">
              RECENT POSTS
            </div>
          </a>
          <div id="recent_posts"></div>
          <a href="/new/" class="text-gray-800 text-sm mt-5">
            See more
          </a>
        </div>
        {% endif %}

        <div id="top_posts_section" class="mb-10 hidden">
            <div class="text-gray-900 text-sm font-semibold mb-4 mt-4 border-b">
              POPULAR POSTS
            </div>
          </a>
          <div id="top_posts"></div>
          {% if slug %}
          <a href="/tag/{{ slug }}/top/" class="text-gray-800 text-sm mt-5">
            See more
          </a>
          {% else %}
          <a href="/" class="text-gray-800 text-sm mt-5">
            See more
          </a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</section>
{% verbatim %}
{% endverbatim %}
<script>
  var page_params = {
    pocket_show_button: {{ js_pocket_show_button }},
  auth_username: "{{ auth_username }}",
    topic: "{{ topic }}",
  };
</script>
<script src="/static/dist/feed.bundle.js"></script>
<script src="/static/dist/like.bundle.js" defer></script>
<script src="/static/dist/topic.bundle.js" defer></script>
<script src="/static/dist/save.bundle.js" defer></script>
<script src="/static/dist/follow_user.bundle.js" defer></script>
<script src="/static/dist/admin.bundle.js" defer></script>
<script src="/static/dist/components.bundle.js" defer></script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
{% endblock %}
