{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="box">
            <aside class="menu">
                <p class="menu-label">
                  Posts
                </p>
                <ul class="menu-list" id="feed-menu">
                  <li><a id="following-option" name="following" class="menu-item">Following</a></li>
                  <li><a id="recommended-option" name="recommended" class="menu-item">Recommended</a></li>
                  <li><a id="top-option" name="top" class="menu-item">All Top</a></li>
                  <li><a id="new-option" name="new" class="menu-item">All New</a></li>
                </ul>
            </aside>
          </div>
        </div>
        <div class="column is-6">
          <div id="home_feed"></div>
        </div>
        <div class="column is-one-quarter">
            <aside class="menu">
                <p class="menu-label">
                  Recommended users
                </p>
            </aside>
            <div id="follow_list"></div>
        </div>
      </div>
  </div>
</section>
{% verbatim %}
{% endverbatim %}
<script>
  var page_params = {

  };
</script>
<script src="/static/dist/feed.bundle.js"></script>
<script src="/static/dist/follow.bundle.js"></script>
{% endblock %}
