{% extends "base.html" %}
{% block title %}
  {% if landing_page %}
  <title>diff.blog</title>
  {% elif feed_type == "top" %}
  <title>Top {{ topic }} blog posts | diff.blog</title>
  {% elif feed_type == "following" %}
  <title>New {{ topic_display_name }} blog posts from users you follow | diff.blog</title>
  {% elif feed_type == "new" %}
  <title>New {{ topic_display_name }} blog posts | diff.blog</title>
  {% else %}
  <title>Top {{ topic_display_name }} blog posts | diff.blog</title>
  {% endif %}
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<section class="hero is-medium is-bold" style='background-image: url("/static/images/sky.jpg"); background-size: cover;'>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-10">
          <h1 class="title is-size-1 has-text-white	">
            Home page of the developer community!
          </h1>
          <h2 class="subtitle has-text-white">
            Discover and follow blogs of developers from all over the Internet. Whatever
            your interests are diff.blog has amazing developers for you to follow!
          </h2>
          <a href="{% url "social:begin" "github" %}" class="button is-light" herf="">
            Get started &nbsp<i class="fab fa-github"></i>
          </a>
          &nbsp
          <a href="/FAQ" class="button is-light" herf="">
            Learn more &nbsp <i class="fab fa-leanpub"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endif %}
<section class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          {% include "main_side_menu.html" %}
        </div>
        <div class="column is-6">
          {% if topic_display_name %}
            {% if feed_type == "top" %}
            <h1 class="is-size-4">Top blog posts in <b>{{ topic_display_name }}</b></h1>
            {% endif %}
            {% if feed_type == "new" %}
            <h1 class="is-size-4">Latest blog posts in <b>{{ topic_display_name }}</b></h1>
            {% endif %}
            {% if feed_type == "following" %}
            <h1 class="is-size-4">Latest blog posts in <b>{{ topic_display_name }}</b> from the users you follow</h1>
            {% endif %}
            <br>
          {% endif %}

          <div id="home_feed"></div>
        </div>
        <div class="column is-one-quarter">
          {% if user.is_authenticated %}
          <div id="user_suggestions_box">
              <aside class="menu">
                  <p class="menu-label">
                    Recommended users
                  </p>
              </aside>
              <div class="column is-20">
                <div class="box">
                <div id="follow_list"></div>
                <aside class="see-more-rusers">
                    <a href="/users/suggestions/" style="font-size: 14px; color: #7a7a7a;">
                        See more recommended users
                    </a>
                </aside>
              </div>
            </div>
          </div>
          {% else %}
          <div class="box">
            <div class="title is-4">
              Join diff.blog to
            </div>
            <i class="em em-newspaper"></i> &nbsp Follow blogs<br>
            <i class="em em-speech_balloon"></i> &nbsp Join discussions<br>
            <i class="em em-mailbox_with_mail"></i> &nbsp Save posts to Pocket<br>
            <i class="em em-gift"></i> &nbsp See blog recommendations<br>
            <i class="em em-hammer"></i> &nbsp Add your blog<br>
            <i class="em em-rocket"></i> &nbsp Automatically subscribe to blogs of users you follow on GitHub<br><br>
            <a href="{% url "social:begin" "github" %}" class="button is-light" herf="">
              Sign in with GitHub &nbsp<i class="fab fa-github"></i>
            </a>
          </div>
          <a href="https://www.producthunt.com/posts/diff-blog-2?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-diff-blog-2" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=158364&theme=light" alt="diff.blog - A platform to discover and follow amazing developer blogs 🚀 | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
          {% endif %}
        </div>
      </div>
  </div>
</section>
{% verbatim %}
{% endverbatim %}
<script>
  var page_params = {
    pocket_show_button: {{ js_pocket_show_button }},
    auth_username: "{{ auth_username }}",
    topic: "{{ topic }}",
  };
</script>
<script src="/static/dist/feed.bundle.js"></script>
<script src="/static/dist/like.bundle.js"></script>
<script src="/static/dist/save.bundle.js"></script>
<script src="/static/dist/follow.bundle.js"></script>
<script src="/static/dist/admin.bundle.js"></script>
{% endblock %}
