{% extends "search_base.html" %}

{% block seo_tags %}
{% if location %}
<title>Jobs in {{ location.name }}</title>
<meta name="description" content="">
{% else %}
<title>Jobs</title>
<meta name="description" content="">
{% endif %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <h1 id="topic-info-header" class="text-2xl mb-4 text-gray-900">
            Post a new job
        </h2>
        <form method="POST">
            <label class="text-l">Company name</label>
            <br>
            <input name="company-name" placeholder="Ex: Acme" type="text" class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            
            <br>
            <br>

            <label class="text-l my-4">Company URL</label>
            <br>
            <input name="company-url" placeholder="Ex: https://www.example.com" type="text" class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>

            <br>
            <br>

            <label class="text-l my-4">What is the title of this role?</label>
            <br>
            <input name="title" placeholder="Ex: Full Stack Engineer" type="text" class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>

            <br>
            <br>

            <label class="text-l my-4">Link to the job description</label>
            <br>
            <input name="description-link" type="text" class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>

            <br>
            <br>

            <label class="text-l my-4">Location</label>
            <br>
            <input name="locations"  placeholder="Location(s) of the job" type="text" class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            <p class="text-gray-600 text-s">
              Separate multiple job locations with commas
            </p>
            <br>
            <button class="button is-success">Post job</button>
            {% csrf_token %}
            </form>
      </div>
    </div>
  </div>
</section>


{% block footer %}
<script src="/static/dist/jobs.bundle.js"></script>
{% endblock %}

{% endblock %}
