{% extends "search_base.html" %}

{% block seo_tags %}
{% if location %}
<title>Jobs in {{ location.name }}</title>
<meta name="description" content="">
{% else %}
<title>Jobs</title>
<meta name="description" content="">
{% endif %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <h1 id="topic-info-header" class="text-2xl mb-4 text-gray-900">
            Job posted successfully. Visit <a class="underline" href="/jobs">job listings</a> to see the post.
        </h2>
      </div>
    </div>
  </div>
</section>


{% block footer %}
<script src="/static/dist/jobs.bundle.js"></script>
{% endblock %}

{% endblock %}
