<div class="flex mb-2 items-center border-b pb-4 pt-2">
    <img class="rounded-full h-20 w-20" src="{{ job.get_company_logo_url }}" alt="Placeholder image">
    <div class="ml-2">
        <h2>
        <a class="text-gray-900 font-bold text-xl" href="{{ job.get_company_url }}">
            {{ job.company_name }}
        </a>
        </h2>
        <h2>
        <a class="text-gray-700 font-semibold text-sm" href="{{ job.description_link }}">
            {{ job.title }}
        </a>
        </h2>
        <h3 class="">
            {% for location in job.locations.all %}
            {% if not title_slug %}
            <a href=" /jobs-in-{{ location.slug }}">
                <span class="text-gray-600 text-sm bg-gray-100 rounded px-2 py-1">{{ location.name }}</span>
            </a>
            {% else %}
            <a href=" /{{ title_slug }}-jobs-in-{{ location.slug }}">
                <span class="text-gray-600 text-sm mx-1 bg-gray-100 rounded px-2 py-1">{{ location.name }}</span>
            </a>
            {% endif %}
            {% endfor %}
        </h3>
    </div>
</div>
