{% extends "search_base.html" %}

{% block seo_tags %}
{% if location %}
  {% if title %}
  <title>{{ title }} jobs in {{ location.name }}</title>
  {% else %}
  <title>Jobs in {{ location.name }}</title>
  {% endif %}
<meta name="description" content="">
{% else %}
<title>Jobs</title>
<meta name="description" content="">
{% endif %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <h1 id="topic-info-header" class="text-2xl mb-4 text-gray-900">
          {% if location %}
          Jobs in {{ location.name }}
          {% else %}
          Jobs
          {% endif %}
        </h2>
          <div id="job_list">
            {% for job in jobs %}
            {% include "job_item.html" %}
            {% endfor %}
          </div>
      </div>
      <div class="column is-4">
        <a href="/jobs/new">
        <button class="button is-success">Post job</button>
        </a>
      </div>
    </div>
  </div>
</section>


{% block footer %}
<script src="/static/dist/jobs.bundle.js"></script>
<script>
  var page_params = {
    location_slug: "{{ location.slug }}",
  };
</script>

{% endblock %}

{% endblock %}
