{% extends "search_base.html" %}

{% block seo_tags %}
{% if location %}
  {% if title %}
  <title>{{jobs_count }} {{ title }} jobs in {{ location.name }} - diff.blog</title>
  <meta name="description" content="Browse {{ jobs_count }} {{ title }} jobs in {{ location.name }}. diff.blog jobs is the leading tech job board for people working in the tech industry.">
  {% else %}
  <title>{{jobs_count }} jobs in {{ location.name }} - diff.blog</title>
  <meta name="description" content="Browse {{ jobs_count }} jobs in {{ location.name }}. diff.blog jobs is the leading tech job board for people working in the tech industry.">
  {% endif %}
{% else %}
  {% if title %}
  <title>{{jobs_count }} {{ title }} jobs - diff.blog</title>
  <meta name="description" content="Browse {{ jobs_count }} {{ title }} jobs from all across the world. diff.blog jobs is the leading tech job board for people working in the tech industry.">
  {% else %}
  <title>{{jobs_count }} Jobs - diff.blog</title>
  <meta name="description" content="Browse {{ jobs_count }} jobs from all across the world. diff.blog jobs is the leading tech job board for people working in the tech industry.">
  {% endif %}
{% endif %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <h1 id="topic-info-header" class="text-2xl mb-4 text-gray-900">
        {% if location %}
          {% if title %}
          {{jobs_count }} {{ title }} jobs in {{ location.name }}
          {% else %}
          {{jobs_count }} jobs in {{ location.name }}
          {% endif %}
        {% else %}
          {% if title %}
          {{jobs_count }} {{ title }} jobs worldwide
          {% else %}
          {{jobs_count }} jobs worldwide
          {% endif %}
        {% endif %}

          <div id="job_list">
            {% for job in jobs %}
            {% include "job_item.html" %}
            {% endfor %}
          </div>
      </div>
      <div class="column is-4">
        <a href="/jobs/new">
        <button class="button is-success">Post job</button>
        </a>
      </div>
    </div>
  </div>
</section>


{% block footer %}
<script src="/static/dist/jobs.bundle.js"></script>
<script>
  var page_params = {
    location_slug: "{{ location.slug }}",
  };
</script>

{% endblock %}

{% endblock %}
