{% extends "search_base.html" %}

{% block seo_tags %}
{% if location %}
<title>Jobs in {{ location.name }}</title>
<meta name="description" content="">
{% else %}
<title>Jobs</title>
<meta name="description" content="">
{% endif %}
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <h1 id="topic-info-header" class="text-2xl mb-4 text-gray-900">
          {% if location %}
          Jobs in {{ location.name }}
          {% else %}
          Jobs
          {% endif %}
        </h2>
          <div id="job_list"></div>
      </div>
    </div>
  </div>
</section>


{% block footer %}
<script src="/static/dist/jobs.bundle.js"></script>
<script>
  var page_params = {
    location_slug: "{{ location.slug }}",
  };
</script>

{% endblock %}

{% endblock %}
