{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <h1 class="text-3xl">Show votes from diff.blog, Hacker News and Reddit in your blog post!</h1>

                <br>
                <h1 class="text-2xl underline">
                    Demo
                </h1>
                <hr>
                <br>
                <br>

                <div id="diffblog-votes"></div>
                <script id="diffblogscript" async src="/static/js/plugin.js"></script>
                <script>
                    document.getElementById("diffblogscript").addEventListener("load", function () {
                        initialize_diffblog_plugin(
                            plugin_holder_id = "diffblog-votes",
                            plugin_public_api_key = "***REMOVED***",
                            limit = 7
                        );
                    });
                </script>


                <br>
                <br>
                <h2 class="text-2xl underline">
                    Installation
                </h2>

                <br>
                <h3 class="text-xl">
                    1. Copy the code
                </h3>
                <br>

                <pre class="rounded-lg bg-white">
                <code class="language-html">
                    {{ code_snippet }}
                </code>
            </pre>

                <h3 class="text-xl">
                    2. Paste it in the HTML template file of your blog post. That's it!
                </h3>
                <br>

                <h2 class="text-2xl underline">
                    Optional configuration
                </h2>

                <br>

                <p>
                    You can customize the plugin by passing the following optional parameters to <b
                        class="font-medium">initialize_diffblog_plugin</b>.
                </p>

                <br>

                <p>
                <h4 class="font-medium">limit (optional)</h4>
                Limit the number of sources to show the vote from. Sources are shown in descending order of votes. The
                default value of limit is 5.
                </p>

                <br>

                <h4 class="font-medium">sources (optional)</h4>
                You can also customize the plugin for each source.

                This parameter takes an array of dicts. Each dict can have the following keys:
                <div class="pl-5">
                    <br>
                    <ul>
                        <li>
                            <h5 class="font-medium">name (required)</h5>
                            The name of the source you want to customize. The value can be "*", "diff.blog", "hacker
                            news", "reddit", or the name of a subreddit.

                            <br>
                            <br>

                            if "*" is passed, the configuration specified in the dict would be applied to all the sources.
                            But you can still pass a dict for other sources. In that case, the configuration specified in
                            the dict would get the preference over the configuration specified in the "*" dict.
                            <br>
                            <br>
                            The same case applies for "reddit" and subreddits as well. The configuration mentioned in "reddit"
                            would get preference unless you specify a "subreddit"(Example "r/programming") configuration.
                        

                        </li>
                        <br>
                        <li>
                            <h5 class="font-medium">minimum_votes (optional)</h5>
                            If the number of votes is less than this value, the source will not be shown. The default
                            value is 0.
                        </li>
                        <br>
                        <li>
                            <h5 class="font-medium">delay (optional)</h5>
                            Show the source only if delay (in seconds) has passed since the blog post was submitted in
                            the source. The default value is 0.
                        </li>
                    </ul>
                </div>

                <br>
                <h5>Example</h5>
                <pre class="bg-white rounded-lg">
                    <code>
                        initialize_diffblog_plugin(
                            plugin_holder_id = "diffblog-votes",
                            plugin_public_api_key = "{{ plugin_public_api_key }}",
                            sources = [
                                {
                                    name: "diff.blog",
                                    minimum_votes: 5,
                                },
                                {
                                    name: "hacker news",
                                    delay: 60 * 60 * 24 * 7,
                                },
                                {
                                    name: "reddit",
                                    minimum_votes: 5,
                                },
                                {
                                    name: "r/programming",
                                    minimum_votes: 10,
                                }
                        );
                    </code>
                </pre>

            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/atom-one-light.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
</pre>
<script>hljs.highlightAll();</script>


{% endblock %}