{% extends "base.html" %}

{% block title %}
<title>{{ post.title }} | diff.blog</title>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <div class="box">
          <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <a href="/{{post.profile.github_username}}">
                    <img src="https://avatars.githubusercontent.com/{{post.profile.github_username}}?s=48" alt="Placeholder image">
                  </a>
                </figure>
              </div>
              <div class="media-content">
                <a href="{{post.link}}" target="_blank" rel="noopener noreferrer" class="title is-4">{{ post.title }}</a><br>
                <a>
                  <span class="icon is-small">
                    <span data-post-id="{{post.id}}" data-vote-upvoted="{{upvoted|yesno:'true,false'}}" class="vote_button">
                      {% if upvoted %}
                        <i class="fas fa-heart"></i>
                      {% else %}
                        <i class="far fa-heart"></i>
                      {% endif %}
                    </span>
                  </span>
                </a>
                <span id="feed_upvotes_counter_{{post.id}}">{{ post.upvotes_count }}</span>
                ·
                <a style="color: #4a4a4a;" href="/{{post.profile.github_username}}">{{ post.profile.full_name }}</a>
                ·
                <a style="color: #4a4a4a;" href="/post/{{post.id}}"><small>{{ post.updated_on }}</small></a>
              </div>
          </div>
          <article class="media">
            {% if user.is_authenticated %}
            <figure class="media-left">
              <p class="image is-48x48">
                <img src="https://avatars.githubusercontent.com/{{user.profile.github_username}}?s=48">
              </p>
            </figure>
            {% endif %}
            <div class="media-content">
                <div class="field">
                  <p class="control">
                    <textarea id="comment-content" class="textarea" placeholder="Add a comment..."></textarea>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <a id="submit-comment-button" data-post-id='{{post.id}}' class="button is-info">Submit</a>
                    </div>
                  </div>
                </nav>
              </div>
          </article>
          <br>
          <div id="comments-holder">
          </div>
        </div>
        </div>
        <div class="column is-one-third">
            {% if not user.is_authenticated %}
            <div class="box">
                <div class="title is-4">
                  Join diff.blog
                </div>
                <p class="subtitle is-6">
                  Add your blog, follow developers, join discussions and more!
                  <br>
                  <br>
                  <a href="{% url "social:begin" "github" %}" class="button is-light" herf="">
                    Sign in with GitHub &nbsp<i class="fab fa-github"></i>
                  </a>
                </p>
             </div>
             {% endif %}
          <div id="follow_list"></div>
        </div>
      </div>
  </div>
</section>
<script>
  var page_params = {
    post_id: {{post.id}},
    posted_by: {
      full_name: "{{post.profile.full_name|escapejs}}",
      github_username: "{{post.profile.github_username|escapejs}}",
      bio: "{{ post.profile.bio|escapejs }}",
      id: "{{ post.profile.id|escapejs }}",
      following: {{ following|escapejs }},
    },
    profile: {
      github_username: "{{user.profile.github_username|escapejs}}",
      full_name: "{{user.profile.full_name|escapejs}}",
    }
  }
</script>
<script src="/static/dist/post.bundle.js"></script>
<script src="/static/dist/like.bundle.js"></script>
<script src="/static/dist/follow.bundle.js"></script>
{% endblock %}