{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">
            <div class="">
              <div class="card-image">
                <figure class="image">
                  <img class="rounded-full"  src="https://avatars.githubusercontent.com/{{profile.github_username}}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div id="follow_button" class="is-pulled-left"></div><br><br>
                    <h1 class="title is-4">{{ profile.full_name }}</h1>
                    <h2 class="subtitle is-6">@{{ profile.github_username }}</h2>
                  </div>
                </div>
                <a data-toggle="tooltip" title="GitHub profile" target="_blank" rel="noopener noreferrer" href="https://github.com/{{profile.github_username}}">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                </a>
                {% if profile.feed_url %}
                <a data-toggle="tooltip" title="RSS Feed" target="_blank" rel="noopener noreferrer" href="{{profile.feed_url}}">
                  <span class="icon">
                    <i class="fas fa-rss"></i>
                  </span>
                </a>
                {% endif %}
                {% if is_recommended %}
                <a data-toggle="tooltip" title="Featured blog" target="_blank" rel="noopener noreferrer" href="{{profile.feed_url}}">
                  <span class="icon">
                    <i class="fas fa-star"></i>
                  </span>
                </a>
                {% endif %}
                <h2 class="content" style="word-wrap: break-word;">
                  {% if profile.bio %}
                  {{ profile.bio }}
                  {% endif %}
                </h2>
              </div>
          </div>
          {% if not profile.is_activated and not profile.is_organization %}
          <div class="is-size-7 has-text-grey" style="margin-top: 5px;">
            This user has not joined diff.blog yet
          </div>
          {% endif %}
        </div>
        <div class="column is-8">
            <div class="tabs">
                <ul>
                    <li {% if type == "posts"%}class="is-active"{% endif %}>
                        <a href="/{{profile.github_username}}/">
                      <span>Posts <span class="tag is-rounded is-light">{{posts_count}}</span></span>
                    </a>
                  </li>
                  <li {% if type == "liked"%}class="is-active"{% endif %}>
                      <a href="/{{profile.github_username}}/liked">
                      <span>Liked <span class="tag is-rounded is-light">{{votes_count}}</span></span>
                    </a>
                  </li>
                  <li {% if type == "following"%}class="is-active"{% endif %}>
                      <a href="/{{profile.github_username}}/following">
                      <span>Following <span class="tag is-rounded is-light">{{following_count}}</span></span>
                    </a>
                  </li>
                  <li {% if type == "followers"%}class="is-active"{% endif %}>
                      <a href="/{{profile.github_username}}/followers">
                      <span>Followers <span class="tag is-rounded is-light">{{followers_count}}</span></span>
                    </a>
                  </li>
                </ul>
              </div>
              {% block info %}
              {% endblock %}
          </div>
    </div>
  </div>
</section>
<script src="/static/dist/follow.bundle.js"></script>
<script src="/static/dist/profile.bundle.js"></script>
<script src="/static/dist/like.bundle.js"></script>
<script src="/static/dist/save.bundle.js"></script>
<script src="/static/dist/admin.bundle.js"></script>
<script>
    var page_params = {
        profile_username: "{{profile.github_username|escapejs}}",
        is_me: {{ js_is_me }},
        following: {{ js_is_following }},
        id: {{profile.id}},
        pocket_show_button: {{ js_pocket_show_button }},
    }
</script>
{% endblock %}
