{% extends "settings_base.html" %}

{% block settings %}
<form method="POST">
    {% if message %}
    <div class="notification is-success">
        {{ message }}
    </div>
    {% endif %}

    {% csrf_token %}

    <div class="box">
      <div class="field">
          <label class="label">Full name</label>
          <div class="control">
            <input class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="full_name" type="text" placeholder="Your name" value="{{ profile.full_name }}" required>
          </div>
      </div>

      <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Your email" value="{{ profile.auth.email }}" disabled>
          </div>
      </div>

      <div class="field">
          <label class="label">GitHub username</label>
          <div class="control">
            <input class="input shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Your GitHub username" value="{{ profile.github_username }}" disabled>
          </div>
      </div>

      <div class="field">
          <label class="label">Bio</label>
          <div class="control">
            <textarea class="textarea shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="bio" placeholder="Your short bio" placeholder="{{ profile.bio }}">{{ profile.bio }}</textarea>
          </div>
      </div>

      <button type="submit" class="button is-success">Save</button>
    </div>
</form>
{% endblock %}