{% extends "profile_base.html" %}

{% block title %}
    <title>{{ profile.full_name }} Blog Posts | diff.blog</title>
{% endblock %}

{% block seo_tags %}
    <meta name="description" content="Read and subscribe to the latest blog posts of @{{ profile.github_username }}.">
{% endblock %}

{% block info %}
{% if is_me and not profile.blog_url %}
<div class="box" id="is-me-step-1">
    You have not set your blog URL yet. Set next to configure it so that we can start fetching your blog posts.<br><br>
    <a href ="/account/settings/blog/" class="button is-primary">Next</a>
</div>
{% endif %}
<div id="home_feed"></div>
<script src="/static/dist/feed.bundle.js"></script>
{% endblock %}
