{% extends "profile_base.html" %}

{% block seo_tags %}
{% if profile.full_name %}
<title>{{ profile.github_username }} ({{ profile.full_name }}) following - diff.blog</title>
{% else %}
<title>{{ profile.github_username }} following - diff.blog</title>
<meta name="description" content="{{ profile.github_username }} is following {{ following_count }} users on diff.blog.">
{% endif %}
{% endblock %}

{% block info %}
<div id="follow_list" class="columns is-multiline is-centered">
</div>
<script>
    var page_params = {
        profile_username: "{{username}}"
    }
</script>
<script src="/static/dist/following.bundle.js"></script>
<script src="/static/dist/follow.bundle.js"></script>
{% endblock %}
