{% extends "profile_base.html" %}


{% block seo_tags %}
{% if profile.full_name %}
<title>{{ profile.github_username }} ({{ profile.full_name }}) liked posts - diff.blog</title>
{% else %}
<title>{{ profile.github_username }} liked posts - diff.blog</title>
<meta name="description" content="{{ profile.github_username }} has liked {{ votes_count }} blog posts on diff.blog.">
{% endif %}
{% endblock %}

{% block info %}
<div id="home_feed"></div>
<script src="/static/dist/feed.bundle.js"></script>
{% endblock %}
