{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <div class="box">
              <aside class="menu">
                  <p class="menu-label">
                    Posts
                  </p>
                  <ul class="menu-list" id="feed-menu">
                    <li><a data-toggle="tooltip" title="Most popular posts in diff.blog" href="/" id="top-option" name="top" class="menu-item"><i class="em em-chart_with_upwards_trend"></i> All Top</a></li>
                    <li><a data-toggle="tooltip" title="Posts from people you follow" href="/following" id="following-option" name="following" class="menu-item"><i class="em em-rolled_up_newspaper"></i> Following</a></li>
                    <li><a data-toggle="tooltip" title="Most recent posts in diff.blog" href="/new" id="new-option" name="new" class="menu-item"><i class="em em-sparkles"></i> All New</a></li>
                  </ul>
                </aside>
              </div>
              <div class="menu is-small is-hidden-mobile">
                  <a class="has-text-grey" target="_blank" rel="noopener noreferrer" href="/suggest">Suggest a blog</a> ·
                  <a class="has-text-grey" href="mailto: yo@vishnuks.com">Contact</a> ·
                  <a class="has-text-grey" target="_blank" rel="noopener noreferrer" href="https://twitter.com/diffblog">Twitter</a> ·
                  <a class="has-text-grey" target="_blank" rel="noopener noreferrer" href="https://airtable.com/shrecLvjdt2fTCtR0">Submit feedback</a> ·
                  <a class="has-text-grey" target="_blank" rel="noopener noreferrer" href="/FAQ">FAQ</a> ·
                  <a class="has-text-grey" target="_blank" rel="noopener noreferrer" href="https://diff.zulipchat.com">Community chat</a> ·
                  <a class="has-text-grey" target="_blank" rel="noopener noreferrer" href="https://vishnuks.com">Made with 💖 by @hackerkid</a>
                </div>
          </div>
          <div class="column">
              {% block content2 %}
              <div id="user_list"></div>
              {% endblock %}
          </div>
        </div>
    </div>
  </section>
{% block footer %}
{% endblock %}

{% endblock %}
