{% extends "settings_base.html" %}

{% block settings %}
<p class="subtitle is-4">Integrations</p>
{% if error %}
<div class="notification is-danger">
    {{ error }}
</div>
{% endif %}
<div class="box">
    <form id="pocket_integration" method="POST">
        {% csrf_token %}
        <div class="subtitle is-5">
            <span class="fab fa-get-pocket"></span> Pocket
        </div>
        <input name="integration" type="hidden" value="pocket">
        <div class="field">
            <label class="label">API key</label>
            <div class="control">
                <input name="pocket_api_key" class="input" type="text" {% if profile.pocket_api_key %}value="{{ profile.pocket_api_key }}"{% endif %}
                       placeholder="Consumer key from your Pocket account" autocomplete="off">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input name="pocket_show_button" type="checkbox" {% if profile.pocket_show_button %}checked{% endif %}>
                    Show save to pocket button in feed
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                <input name="pocket_auto_save" type="checkbox" {% if profile.pocket_auto_save %}checked{% endif %}>
                    When someone I follow blogs, save it to pocket automatically
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-dark">Save</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/dist/blog_settings.bundle.js"></script>
{% endblock %}
