{% extends "base.html" %}

{% block content %}
<br>
<br>
    <div class="container">
        <div class="columns">
            <div class="column is-offset-1 is-6">
                {% if show_confirmation %}
                <div class="notification is-success">
                    We have received your request for adding the blog and will process it within the next 24 hours.
                    <br>
                    <br>
                    <a href="/suggest">Make</a> another blog request or go to <a href ="/">home</a>.
                </div>
                {% else %}
                <form method="POST">
                    <h1 class="subtitle is-3">
                        Suggest a blog
                    </h1>
                    {% if not username %}
                    <p>
                    Suggest a blog that you want to be on diff.blog.
                    <br>
                    <br>
                    <b>Note</b>: If you want to add your own blog, do it by going to your <a style="text-decoration: underline;" href="/account/settings/blog/">profile settings</a>.
                    </p>
                    <br>
                    {% endif %}
                    <div class="field">
                        {% csrf_token %}
                        <label class="label">GitHub username</label>
                        <p class="control has-icons-left has-icons-right">
                        <input class="input" name="username" type="text" value="{{ username }}" placeholder="GitHub username of the user/organization (optional)">
                        <span class="icon is-small is-left">
                            <i class="fab fa-github"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">URL of the blog</label>
                        <p class="control has-icons-left">
                        <input class="input" name="url" type="text" placeholder="Blog or RSS URL" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-rss"></i>
                        </span>
                        </p>
                    </div>
                    <br>
                    <input class="button is-dark" type="submit" value="Submit">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}