{% extends "search_base.html" %}

{% block seo_tags %}
    {% if topic %}
    <title>Recommended developers to follow in {{ topic.display_name }}</title>
    <meta name="description" content="Top developers to follow in {{ topic.display_name }}.">
    {% else %}
    <title>Recommended developers to follow</title>
    <meta name="description" content="Top developers for you to follow.">
    {% endif %}
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
          <div class="column is-6">
            {% if topic.display_name %}
            <p id="topic-info-header" class="text-xl mb-4 text-gray-900">Recommended developers to follow in {{ topic.display_name }}</p>
            {% else %}
            <p id="topic-info-header" class="text-xl mb-4 text-gray-900">Recommended developers for you to follow</p>
            {% endif %}
            <div id="user_list"></div>
          </div>
        </div>
    </div>
  </section>

{% block footer %}
<script src="/static/dist/user_suggestions.bundle.js"></script>
<script src="/static/dist/follow_user.bundle.js"></script>
{% endblock %}

{% endblock %}
