{% extends "base.html" %}
{% block content %}
<table class="table">
    <br>
    <br>
    <thead>
      <tr>
        <th><abbr title="ID">Pos</abbr></th>
        <th><abbr title="Fullname">Fullname</abbr></th>
        <th><abbr title="Username">Username</abbr></th>
        <th><abbr title="Blog">Website</abbr></th>
        <th><abbr title="Feed url">Feed url</abbr></th>
        <th><abbr title="Feed type">Feed type</abbr></th>
        <th><abbr title="Followers">Followers</abbr></th>
      </tr>
    </thead>
    <tbody>
{% for user in users %}
      <tr>
        <th>{{user.id}}</th>
        <td>{{user.full_name}}</td>
        <td>{{user.github_username}}</td>
        <td>{{user.website_url}}</td>
        <td>{{user.feed_url}}</td>
        <td>{{user.blog_url_type}}</td>
        <td>{{ user.followers_count }}</td>
      </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
