{% extends "search_base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
          <div class="column is-6">
            {% if topic.display_name %}
            <p id="topic-info-header" class="text-xl mb-4 text-gray-900">Recommended developers to follow in {{ topic.display_name }}</p>
            {% else %}
            <p id="topic-info-header" class="text-xl mb-4 text-gray-900">Recommended developers for you to follow</p>
            {% endif %}
            <div id="user_list"></div>
          </div>
        </div>
    </div>
  </section>

{% block footer %}
<script src="/static/dist/user_suggestions.bundle.js"></script>
<script src="/static/dist/follow.bundle.js"></script>
{% endblock %}

{% endblock %}
