{% extends "search_base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
          <div class="column is-6">
              <h1 class="text-gray-900 text-l font-semibold mb-4 mt-4">DEVELOPERS TO FOLLOW</h1>
              <div id="user_list"></div>
          </div>
        </div>
    </div>
  </section>

{% block footer %}
<script src="/static/dist/user_suggestions.bundle.js"></script>
<script src="/static/dist/follow.bundle.js"></script>
{% endblock %}

{% endblock %}
