{{#unless is_me}}
    {{#if following}}
        <a data-user-id="{{ id }}" class="button is-light is-pulled-right following">Following</a>
    {{else}}
        <a data-user-id="{{ id }}" class="button is-dark is-pulled-right follow">Follow</a>
    {{/if}}
{{/unless}}
